<!DOCTYPE html>
<html>
  <head>
    <title><%= pagetitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <meta charset="utf-8">
    <meta name="description" content="Kegfinder is a brewery-focused web app
    designed to track beer kegs and provide inventory information, production 
    analytics, and insight into logistics.">
  </head>
  <body>
    <div class='navbar'>
        <a href='/' id='navhome'>Home</a>
        <a href='/viewInventory'>Track</a>
        <a href='/modInventory'>Update</a>
        <a href='/newInventory'>Manage inventory</a>
        <% if (!user) { %>
          <%- "<a href='/login/register' class='logButton'>Register</a>" %>
        <% } %>
        <% if (!user) { %>
          <%- "<a href='/login' class='logButton'>Login</a>" %>
        <% } %>
        <% if (user) { %>
          <%- "<a href='/logout' class='logButton'>Logout</a>" %>
        <% } %>
        <% if (user) { %>
          <%- "<div class='userid' id='userid'>" %><%= userid %><%- "</div>" %>
        <% } %>
    </div>